---
import { Image } from "astro:assets";
import { getLangFromUrl, useTranslations } from "@/config/i18n/utils";
import type { PostEntry } from "@/content.config";
import defaultBlogImage from "@/presentation/assets/blog-placeholder-1.png";
import BaseHead from "../components/nav/BaseHead.astro";
import FormattedDate from "../components/ui/FormattedDate.astro";
import Body from "./Body.astro";

type Props = PostEntry["data"];

const {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage = defaultBlogImage,
} = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang, "blog");
---

<!doctype html>
<html lang={lang}>
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<Body>
		<section>
			<div class="px-4 w-full">
				<Image transition:animate={"fade"} id={title} class="block m-auto rounded-xl" width={1020} height={510} fit="cover" src={heroImage} alt="" />
			</div>
			<div class="p-4 m-auto max-w-[1000px]">
				<div class="prose mb-4 m-auto text-center font-bold text-gray-800 dark:text-gray-200">
					<div class="date">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="text-sm italic">
									{t("lastUpdated")} <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1 class="text-gray-800 dark:text-gray-200">{title}</h1>
					<hr class="bg-black dark:bg-white" />
				</div>
				<article class="prose prose-custom w-full m-auto">
					<slot />
				</article>
			</div>
		</section>
	</Body>
</html>
