---
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import FormattedDate from "@/presentation/components/FormattedDate.astro";
import BaseHead from "@/presentation/components/BaseHead.astro";
import Body from "@/presentation/layouts/Body.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import { getBlogNameFromLang, getLangFromUrl } from "@/config/i18n/utils";
import { paths } from "@/config/paths";

const lang = getLangFromUrl(Astro.url);
const blogName = getBlogNameFromLang(lang);
const posts = (await getCollection(blogName)).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

export async function getStaticPaths() {
    return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}
---

<!doctype html>
<html lang={lang} class="dark">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<Body>
		<sectio class="prose">
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={paths.blogPost(lang, post.data.slug)}>
								{post.data.heroImage && (
									<Image width={720} height={360} src={post.data.heroImage} alt="" />
								)}
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
			</ul>
		</sectio>
	</Body>
</html>
