---
import { getLangFromUrl, useTranslations } from "@/config/i18n/utils";
import type { Project } from "@/core/types";
import DefaultLink from "../ui/DefaultLink.astro";
import TransparentLink from "../ui/TransparentLink.astro";

interface Props {
    project: Project;
    class?: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { project, class: className } = Astro.props;
---

<div class:list={["ui-card min-h-fit md:min-h-full h-full flex flex-col", className]}>
    <div class="flex flex-col gap-3 p-6 pt-7">
        <div class="text-xl md:text-2xl font-semibold tracking-tight flex justify-between items-start gap-3">
            <p class="flex-1 leading-tight">
                {project.locale[lang].title}
            </p>
            <div class="flex gap-1 items-center justify-end shrink-0">
                {project.inProgress ? (
                    <div class="ui-status-badge ui-status-warning">
                        <span class="icon-[mdi--construction-outline]" />
                        <span>{t("generic.underConstruction")}</span>
                    </div>
                ) : (
                    <div class="ui-status-badge ui-status-success">
                        <span class="icon-[mdi--check-circle-outline]" />
                        <span>{t("generic.completed")}</span>
                    </div>
                )}
            </div>
        </div>
        <div class="text-sm ui-muted tracking-tight">
            {project.locale[lang].description}
        </div>
    </div>
    <div class="p-6 pt-0 text-sm font-light ui-muted flex-1">
        <div>
            {project.locale[lang].detail.split("\n").map((line) => <p>{line}</p>)}
        </div>
    </div>
    <div class="flex items-center p-6 pt-0 justify-between gap-3 flex-wrap">
        {project.repoUrl && (
            <TransparentLink href={project.repoUrl}>
                {t("projects.seeRepo")}
            </TransparentLink>
        )}
        {project.deployUrl && (
            <DefaultLink href={project.deployUrl}>
                {t("projects.seeDeploy")}
            </DefaultLink>
        )}
    </div>
</div>
